* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a, a:active {
  color: black;
}

button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  min-height: 36px;
  min-width: 36px;
}

button:hover {
  cursor: pointer;
}

button a {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  line-height: 36px;
}

input, select {
  min-height: 36px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 8px;
}

label {
  border: none;
  padding: 8px;
  min-height: 36px;
  font-size: 12px;
}

#specialBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}
