.App {
  text-align: center;
}

.Meal {
  background-color: lightgrey;
  width: 80vw;
  margin: 0 auto 20px;
  padding: 8px;
  border-radius: 4px;
}

.Form {
  position: fixed;
  background-color: lightgrey;
  top: 0;
  height: 100vh;
  width: 100vw;
  text-align: left;
  padding: 32px 16px 16px;
}

.FormInputs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 20px;
}

.Form label, .Form input, .Form select {
  display: block;
  width: 100%;
}

.Form input, .Form select {
  margin-bottom: 8px;
}

.Form button[type=submit] {
  width: 100%;
}

.Form #closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}
